name: Node.js CI

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
      - run: npm run test
